.containerr{
    height: 100%;
    width: 100%;
    margin-top: 3.5rem;
    display: flex;
    margin-left: 3rem;   
}
.imgsize{
    height: 350px;
    margin-top: 0.4rem;
    margin-right: 2rem;
}
.psize{
    font-weight: 400;
    font-size: 16px;
}

@media only screen and (max-width:850px){
    .containerr{
        height: 100%;
        width: 100%;
        margin-top: 2.5rem;
        display:block;
        margin-left: 1.0rem;   
    }
    .imgsize{
        margin-bottom: 1rem;
        height: 280px;
    }
    .psize{
        text-align: left;
        font-size: 14px;
        margin-right: 1rem;
    }
}

