@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
}
*{
    font-family: "Montserrat",sans-serif;
    box-sizing: border-box;
    color: #424242;
    text-decoration: none;
}
body{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 251, 251);
}
.shadow-1-strong {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2)!important;
}
.bg-white {
    background-color: #fff!important;
}
.iconlan{
    width: 20px;
    margin-bottom: 1.1rem;
}
.iconlan:active{
    background-color: #84e287;
    box-shadow: 1px 1px 1px 1px rgb(235, 141, 141);
    border-radius: 100%;
}
.iconlan.active{
    width: 23px;
    background-color: red;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px rgb(215, 226, 152);
    margin-bottom: 0rem;
}
.app__header{
    display: flex;
    flex-direction: row; /*bu ikisi soldan sağa dizmek için*/
    justify-content: space-between; /*uygun boşlukla yerleştiriyor*/
    align-items: center;
    height: 80px;
}
.app_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app_logo .app__title2{
    display: none;
}
.app_logo .app__title{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    width: 32%;
    min-width: 340px;
    height: auto;
}
.app__links{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.app__links li{
    margin-top: 25px;
    margin-right: 2rem;
    font-size: 14px;
    font-weight: 500;
}
.app__links li.active{
    font-weight: 600;
    font-size: 14;
    color: #5A47AB;
}

.app__showcase{
    display: flex;
    margin: 5rem 0;
}
.app__showcase-info{
    flex: 6;
    padding: 0 3rem;
}
.app__showcase-info h1{
    font-size: 47px;
    margin: 0;
    color:#D05270 ;
    font-weight: bold;
 }
 .app__showcase-info h3{
    font-size: 42px;
    margin: 0;
    font-weight: 500;
 }
 .app__showcase-info p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 0.5rem;
 }
.app__showcase-image{
    flex:4;
    padding: 0 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 35%;
    border-radius: 80%;
}
#example
{
  cursor:pointer;
}
#example2
{
  cursor:pointer;
}
/* .app__showcase-image:hover {
    opacity: 0.5;
  } */
.app__links2{
    display: flex ;
    justify-content: space-between;
    margin-top: 3rem; 
}
.app__links2 .app__link{
    color: floralwhite;
    font-size: 12px;
    width: 30%;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__links2 .app__link.github{
    background-color: #262727;
}
.app__links2 .app__link.github:hover{
    opacity: 0.7;
}
.app__links2 .app__link.linkedin{
    background-color: #1275b1;
}
.app__links2 .app__link.linkedin:hover{
    opacity: 0.7;
}
.app__links2 .app__link.medium{
    background-color: rgb(235, 49, 49);
}
.app__links2 .app__link.medium:hover{
    opacity: 0.7;
}
.app__links2 .app__link img{
    margin-right: 1.5rem;
}
.text{
    text-align: start;
}
.menu__kapali{
    display: none;
}
.menu__acik{
    display: none;
}
.purple__logo{
    display: none;
}
.app__blog-catogories{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app__blog-catogories .item{
    font-weight: 500;
    font-size: 17px;
    margin-right: 2rem;
    cursor: pointer;
}
.app__blog-catogories .item.active{
    color: #D05270;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #D05270;
    padding: 0 2rem;
 }
 .app__listwrap{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
 }
 .app__listwrap .app_postcard{
    display: flex;
    flex: 0 0 10%;
    flex-direction: column;
    padding: 0 2rem;
    margin: 2rem 0;
 }
 /* .app__listwrap .app_postcard:hover{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25),0 1px 5px 0 rgba(0,0,0,.2)!important;
    background-color: #ffffff;
 } */
 .app__listwrap .app_postcard .postimage{
    height: 284px;
    width: max-content;
}
 .app__listwrap .app_postcard .postdate{
    font-size: 14px;
    font-weight: 600;
    margin: 0.5rem 0;
}
.app__listwrap .app_postcard .posttitle{
    font-size: 24px;
    font-weight: 600;
    color: #D05270;
    margin: 0.5rem 0;
}
.app__listwrap .app_postcard .postinfo{
    font-weight: 400;
    margin: 0.5rem 0;
}
.app__listwrap .app_postcard .postlink{
    font-size: 18px;
    font-weight: 500;
    color: #D05270;
    text-decoration: none;
    border-bottom: 1px solid #D05270;
    padding-bottom: 0.5rem;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.app__listwrap .app_postcard .postlink:hover{
    color: #eba3b3;
    border-bottom: 1px solid #eba3b3;
}
.bosluk{
    display: none;
}
.footer{
    position: relative;
    text-align: center;
    margin: 5rem 0;
}

@media only screen and (max-width:1600px){
    .app__listwrap .app_postcard .postimage{
       height: 220px;
   }
   .app__listwrap .app_postcard .posttitle{
       font-size: 12px;
   }
   .app__listwrap .app_postcard .postinfo{
       font-weight: 400;
       margin: 0.5rem 0;
   }
   .app__listwrap .app_postcard .postlink{
       font-size: 16px;
       margin-top: 1.7rem;
   }
   .app__listwrap .app_postcard .postlink:hover{
    color: #eba3b3;
    border-bottom: 1px solid #eba3b3;
 }
   .app__showcase-info{
       flex: 6;
       padding: 0 3rem;
   }
   .app__showcase-info h1{
       font-size: 38px;
    }
    .app__showcase-info h3{
        font-size: 29px;
    }
    .app__showcase-info p{
        font-size: 16px;
    }
    .app__showcase-image{
        flex:4;
        border-radius: 100%;
    }
}
@media only screen and (max-width:1500px){
    .purple__logo{
        display: none;
    }
    .app__showcase-image{
       display: none;
    }
    .app__listwrap .app_postcard .postimage{
        height: 185px;
    }
}
@media only screen and (max-width:850px){
  body{
    width: 90%;
    margin: auto;
 }
 .app_logo .app__title{
   display: none;
}
.app_logo .app__title2{
    display: block;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    margin-left: 0.3rem;
    width: 30%;
    min-width: 225px;
    height: auto;
}
 .app__links{
    opacity: 0;
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0%;
    top: 5rem;
    z-index: -1;
    flex-direction: column;
    background-color: #FFFF;
    transition: height 200ms ease-in-out;
}
.notactivee{
    display: none;
}

 .app__links.active{
    opacity: 1;
    display: block;   
    z-index: 1; 
    height: 100%;
}
 .app__links li{
    padding: 1.5rem;
    font-size: 20px;
 }
 .menu__kapali{
    display: block;
 }
 .purple__logo{
    display: none;
}
 .app__showcase-image{
   display: none;
}
 .bosluk{
   display: block;
}
 .app__showcase-info h1{
    font-size: 40px;
 }
 .app__showcase-info h3{
    font-size: 28px;
 }
 .app__showcase-info p{
    font-size: 14px;
 }
 .app__showcase{
    display: flex;
    margin: 3.5rem 0;
}
.app__showcase-info{
    padding: 0;
}
.app__links2 .app__link{
    color: floralwhite;
    font-size: 12px;
    font-weight: 500;
    width: 30%;
    height: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__links2 .app__link img{
    margin-right: 0.3rem;
}
.app__blog-catogories{
    overflow-x:auto;
    width: 100%;
    padding: 0;
}
.app__blog-catogories .item{
    font-size: 13px;
    font-weight: 600;
    margin-right: 0.2rem;
    white-space: nowrap;
    padding: 0 1rem; 
}
.app__blog-catogories .item.active{
    font-size: 14px;
    padding: 0 1rem;
 }
 .app__blog-catogories .item.active.ilk{
    margin-left: 100px;
 }
 .app__blog-catogories .item.ilk{
    margin-left: 100px;
 }
 .app__listwrap .app_postcard{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin: 0;
 }
 .app__listwrap .app_postcard .postimage{
    height: 130px;
}
 .app__listwrap .app_postcard .postdate{
    font-size: 10px;
    font-weight: 600;
}
.app__listwrap .app_postcard .posttitle{
    font-size: 20px;
}
.app__listwrap .app_postcard .postinfo{
  font-size: 14px;
}
.app__listwrap .app_postcard .postlink{
    font-size: 14px;
}
}
.footer-clean {
    margin-left: 1rem;
    padding:50px 0;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }


